
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-581925795409363929.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-581925795409363929.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-581925795409363929.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-581925795409363929.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-581925795409363929.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-581925795409363929.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-581925795409363929.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-581925795409363929.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-581925795409363929.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-581925795409363929.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-581925795409363929.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-581925795409363929.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-581925795409363929.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-581925795409363929.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-581925795409363929.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-581925795409363929.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-581925795409363929.gps.gpsil [style*="--hvr-radius:"]:hover{border-radius:var(--hvr-radius)}.gps-581925795409363929.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-581925795409363929.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-581925795409363929.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-581925795409363929.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-581925795409363929.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-581925795409363929.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-581925795409363929.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-581925795409363929.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-581925795409363929.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-581925795409363929.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-581925795409363929.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-581925795409363929.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-581925795409363929.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-581925795409363929.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-581925795409363929.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-581925795409363929.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-581925795409363929.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-581925795409363929.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-581925795409363929.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-581925795409363929.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-581925795409363929.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-581925795409363929.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-581925795409363929.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-581925795409363929.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-581925795409363929.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-581925795409363929.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-581925795409363929.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-581925795409363929.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-581925795409363929.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-581925795409363929.gps.gpsil [style*="--t-tablet:"]{transform:var(--t-tablet)}.gps-581925795409363929.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-581925795409363929.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-581925795409363929.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-581925795409363929.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-581925795409363929.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-581925795409363929.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-581925795409363929.gps.gpsil [style*="--t-mobile:"]{transform:var(--t-mobile)}.gps-581925795409363929.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-581925795409363929 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-581925795409363929 .gp-relative{position:relative}.gps-581925795409363929 .gp-sticky{position:sticky}.gps-581925795409363929 .gp-z-1{z-index:1}.gps-581925795409363929 .gp-flex{display:flex}.gps-581925795409363929 .gp-inline-flex{display:inline-flex}.gps-581925795409363929 .\!gp-hidden{display:none!important}.gps-581925795409363929 .gp-hidden{display:none}.gps-581925795409363929 .gp-h-full{height:100%}.gps-581925795409363929 .gp-max-w-full{max-width:100%}.gps-581925795409363929 .gp-shrink-0{flex-shrink:0}.gps-581925795409363929 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-581925795409363929 .gp-flex-col{flex-direction:column}.gps-581925795409363929 .gp-items-center{align-items:center}.gps-581925795409363929 .gp-justify-center{justify-content:center}.gps-581925795409363929 .gp-overflow-hidden{overflow:hidden}.gps-581925795409363929 .gp-break-words{overflow-wrap:break-word}.gps-581925795409363929 .gp-text-center{text-align:center}.gps-581925795409363929 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-581925795409363929 .gp-no-underline{text-decoration-line:none}.gps-581925795409363929 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-581925795409363929 .gp-duration-200{transition-duration:.2s}.gps-581925795409363929 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-581925795409363929 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-581925795409363929 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-581925795409363929 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-581925795409363929 .tablet\:\!gp-hidden{display:none!important}.gps-581925795409363929 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-581925795409363929 .mobile\:\!gp-hidden{display:none!important}.gps-581925795409363929 .mobile\:gp-hidden{display:none}}.gps-581925795409363929 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-581925795409363929 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-581925795409363929 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-581925795409363929 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-581925795409363929 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    
    <gp-sticky
    data-id="gt_RdK5GzC"
      gp-data='{"uid":"gt_RdK5GzC","setting":{"display":{"desktop":"always","tablet":"always","mobile":"always"}},"advanced":{"d":{"desktop":true,"mobile":true,"tablet":true}}}'
      id="gt_RdK5GzC"
      data-id="gt_RdK5GzC"
      class="sticky-wrapper  gt_RdK5GzC my-sticky-button {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;margin:0 auto;--left:50%;--t:translateX(-50%);--left-tablet:50%;--t-tablet:translateX(-50%);--left-mobile:50%;--t-mobile:translateX(-50%);--top:auto;--bottom:0;--pos:fixed;--d:block;--top-tablet:auto;--bottom-tablet:0;--pos-tablet:fixed;--d-tablet:block;--top-mobile:auto;--bottom-mobile:0;--pos-mobile:fixed;--d-mobile:block;z-index:999"
    >
      <style>.drawer-page-content {
       transform: none !important;
      -webkit-transform: none !important;
  }</style>
      <div  style="--m:0 auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:0px 0px 10px 0px #0000001a;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgc:#961f48;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
        <div
      data-same-height-display-contents
      
      class="gG0gdKLFyD gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"https://www.claudia-schmuckatelier.com/collections/moonstone","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left" >
        <style>[data-id="gRhlN2MwTk"].gp-button-base::before, [data-id="gRhlN2MwTk-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    border-radius: var(--g-radius-small);
  
    }
  
      
  [data-id="gRhlN2MwTk"]:hover::before, [data-id="gRhlN2MwTk-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gRhlN2MwTk" dataId="gRhlN2MwTk" data-state="idle" aria-label="<p><strong>BESUCHEN SIE MEINEN WEBSHOP</strong></p>"
          
          href="https://www.claudia-schmuckatelier.com/collections/moonstone" target="_self"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--radius:var(--g-radius-small);--hvr-radius:var(--g-radius-small);--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#151515;--bg:#961f48;--c:var(--g-c-text-3, text-3)"
          class="gRhlN2MwTk gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 gp-g-paragraph-1"
        >
        
        <div class="gp-inline-flex gp-flex-row-reverse">
          
    <span
      style="word-break:break-word;--ml:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817550824440168">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224.49,136.49l-72,72a12,12,0,0,1-17-17L187,140H40a12,12,0,0,1,0-24H187L135.51,64.48a12,12,0,0,1,17-17l72,72A12,12,0,0,1,224.49,136.49Z" /></svg>
    </span>
  
          
    <span
      data-gp-text
      style="word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggRhlN2MwTk_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>
      </div>
    </gp-sticky>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-sticky-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      <style id="custom-css-gt_RdK5GzC">
        gp-sticky.gt_RdK5GzC {
display: none!important;
}

gp-sticky.gt_RdK5GzC.display-me {
display: block!important;
}
add
.my-sticky-button {
opacity: 0;
visibility: hidden;
transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

      </style>
    
      <script id="custom-js-gt_RdK5GzC">
        try {
          //const currentElement = document.getElementsByClassName('gt_RdK5GzC');

document.addEventListener("DOMContentLoaded", function () {
const target = document.querySelector('gp-sticky.gt_RdK5GzC');
if (!target) return;

// Ensure it's hidden initially (in case CSS handles the visibility)
target.classList.remove('display-me');

let lastScrollY = window.scrollY;

window.addEventListener('scroll', function () {
const scrollTop = window.scrollY;
const scrollPercent = (scrollTop / (document.body.scrollHeight - window.innerHeight)) * 100;

if (scrollPercent >= 50) {
target.classList.add('display-me');
} else if (scrollTop < lastScrollY && scrollPercent < 50) {
target.classList.remove('display-me');
}

lastScrollY = scrollTop;
});
});
        } catch(err){}
      </script>
    
    
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-581925795409363929 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/formilo/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=581925795358835673&sectionId=581925795409363929)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggRhlN2MwTk_label","label":"ggRhlN2MwTk_label","default":"<p><strong>BESUCHEN SIE MEINEN WEBSHOP</strong></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  