
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-584531648872186634.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-584531648872186634.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-584531648872186634.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-584531648872186634.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-584531648872186634.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-584531648872186634.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-584531648872186634.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-584531648872186634.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-584531648872186634.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-584531648872186634.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-584531648872186634.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-584531648872186634.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-584531648872186634.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-584531648872186634.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-584531648872186634.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-584531648872186634.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-584531648872186634.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-584531648872186634.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-584531648872186634.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-584531648872186634.gps.gpsil [style*="--hvr-radius:"]:hover{border-radius:var(--hvr-radius)}.gps-584531648872186634.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-584531648872186634.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-584531648872186634.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-584531648872186634.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-584531648872186634.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-584531648872186634.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-584531648872186634.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-584531648872186634.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-584531648872186634.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-584531648872186634.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-584531648872186634.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-584531648872186634.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-584531648872186634.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-584531648872186634.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-584531648872186634.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-584531648872186634.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-584531648872186634.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-584531648872186634.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-584531648872186634.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-584531648872186634.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-584531648872186634.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-584531648872186634.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-584531648872186634.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-584531648872186634.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-584531648872186634.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-584531648872186634.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-584531648872186634.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-584531648872186634.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-584531648872186634.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-584531648872186634.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-584531648872186634.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-584531648872186634.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-584531648872186634.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-584531648872186634.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-584531648872186634.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-584531648872186634.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-584531648872186634.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-584531648872186634.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-584531648872186634.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-584531648872186634.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-584531648872186634.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-584531648872186634.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-584531648872186634.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-584531648872186634.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-584531648872186634.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-584531648872186634.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-584531648872186634.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-584531648872186634.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-584531648872186634.gps.gpsil [style*="--t-tablet:"]{transform:var(--t-tablet)}.gps-584531648872186634.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-584531648872186634.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-584531648872186634.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-584531648872186634.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-584531648872186634.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-584531648872186634.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-584531648872186634.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-584531648872186634.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-584531648872186634.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-584531648872186634.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-584531648872186634.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-584531648872186634.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-584531648872186634.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-584531648872186634.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-584531648872186634.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-584531648872186634.gps.gpsil [style*="--t-mobile:"]{transform:var(--t-mobile)}.gps-584531648872186634.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-584531648872186634 .\!gp-pointer-events-none{pointer-events:none!important}.gps-584531648872186634 .gp-relative{position:relative}.gps-584531648872186634 .gp-sticky{position:sticky}.gps-584531648872186634 .gp-z-1{z-index:1}.gps-584531648872186634 .\!gp-m-0{margin:0!important}.gps-584531648872186634 .gp-flex{display:flex}.gps-584531648872186634 .gp-inline-flex{display:inline-flex}.gps-584531648872186634 .\!gp-hidden{display:none!important}.gps-584531648872186634 .gp-hidden{display:none}.gps-584531648872186634 .gp-h-full{height:100%}.gps-584531648872186634 .gp-max-w-full{max-width:100%}.gps-584531648872186634 .gp-shrink-0{flex-shrink:0}.gps-584531648872186634 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-584531648872186634 .gp-flex-col{flex-direction:column}.gps-584531648872186634 .gp-items-center{align-items:center}.gps-584531648872186634 .gp-justify-center{justify-content:center}.gps-584531648872186634 .gp-overflow-hidden{overflow:hidden}.gps-584531648872186634 .gp-break-words{overflow-wrap:break-word}.gps-584531648872186634 .gp-text-center{text-align:center}.gps-584531648872186634 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-584531648872186634 .gp-no-underline{text-decoration-line:none}.gps-584531648872186634 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-584531648872186634 .gp-duration-200{transition-duration:.2s}.gps-584531648872186634 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-584531648872186634 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-584531648872186634 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-584531648872186634 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-584531648872186634 .tablet\:\!gp-hidden{display:none!important}.gps-584531648872186634 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-584531648872186634 .mobile\:\!gp-hidden{display:none!important}.gps-584531648872186634 .mobile\:gp-hidden{display:none}}.gps-584531648872186634 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-584531648872186634 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-584531648872186634 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-584531648872186634 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-584531648872186634 .\[\&_gp-button_button\]\:\!gp-pointer-events-auto gp-button button{pointer-events:auto!important}.gps-584531648872186634 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    
    <gp-sticky
    data-id="gZ98phD0Xd"
      gp-data='{"uid":"gZ98phD0Xd","setting":{"display":{"desktop":"after-first-cart-button","tablet":"after-first-cart-button","mobile":"after-first-cart-button"}},"advanced":{"d":{"desktop":true,"mobile":true,"tablet":true}}}'
      id="gZ98phD0Xd"
      data-id="gZ98phD0Xd"
      class="sticky-wrapper !gp-pointer-events-none [&_gp-button_button]:!gp-pointer-events-auto gZ98phD0Xd my-sticky-button {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
      style="--w:96%;--w-tablet:100%;--w-mobile:100%;margin:0 auto;--left:50%;--t:translateX(-50%);--left-tablet:50%;--t-tablet:translateX(-50%);--left-mobile:50%;--t-mobile:translateX(-50%);--top:auto;--bottom:0;--pos:fixed;--d:none;--top-tablet:auto;--bottom-tablet:0;--pos-tablet:fixed;--d-tablet:none;--top-mobile:auto;--bottom-mobile:0;--pos-mobile:fixed;--d-mobile:none;z-index:999"
    >
      <style>.drawer-page-content {
       transform: none !important;
      -webkit-transform: none !important;
  }</style>
      <div  style="--m:0 auto;--pt:0px;--pb:0px;--pr:0px;--pl:0px;--pt-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pl-mobile:0px;--pt-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pl-tablet:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-tablet:0px;--mb-mobile:0px;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
        <div
      data-same-height-display-contents
      
      class="g6fJd8pYq1 gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"https://www.claudia-schmuckatelier.com/collections/moonstone","selectedTab":"scrollToList","target":"_blank","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:left" class=" my-sticky-button">
        <style>[data-id="gS4h3XssKv"].gp-button-base::before, [data-id="gS4h3XssKv-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    border-radius: var(--g-radius-small);
  
    }
  
      
  [data-id="gS4h3XssKv"]:hover::before, [data-id="gS4h3XssKv-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gS4h3XssKv" dataId="gS4h3XssKv" data-state="idle" aria-label="<p><span style='font-size:18px;'>BESUCHEN SIE MEINEN SHOP</span></p>"
          
          href="https://www.claudia-schmuckatelier.com/collections/moonstone" target="_blank"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:10px;--pr:10px;--pt:10px;--pb:10px;--radius:var(--g-radius-small);--hvr-radius:var(--g-radius-small);--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#07829F;--bg:#07829F;--c:var(--g-c-text-3, text-3);--ff:var(--g-font-body, body);--weight:600;--ls:0px;--size:23px;--size-tablet:20px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%"
          class="gS4h3XssKv gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex gp-flex-row-reverse">
          
    <span
      style="--ff:var(--g-font-body, body);--weight:600;--ls:0px;--size:23px;--size-tablet:20px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ts:none;word-break:break-word;--ml:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg height="20" width="20" data-name="arrow-right-light" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817609069166952">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M220.24,132.24l-72,72a6,6,0,0,1-8.48-8.48L201.51,134H40a6,6,0,0,1,0-12H201.51L139.76,60.24a6,6,0,0,1,8.48-8.48l72,72A6,6,0,0,1,220.24,132.24Z" /></svg>
    </span>
  
          
    <span
      data-gp-text
      style="--ff:var(--g-font-body, body);--weight:600;--ls:0px;--size:23px;--size-tablet:20px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggS4h3XssKv_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      <style id="custom-css-gS4h3XssKv">
        .gS4h3XssKv {

}
      </style>
    
      <script id="custom-js-gS4h3XssKv">
        try {
          //const currentElement = document.getElementsByClassName('gS4h3XssKv');

        } catch(err){}
      </script>
    
    <gp-button
      gp-data='{"btnLink":{"link":"#scroll-to-top","selectedTab":"scrollToList","target":"_self","title":"Section"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-m);--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:var(--g-s-m);--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:var(--g-s-xl);--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:15px;--ta:right" >
        <style>[data-id="gzlEA5070X"].gp-button-base::before, [data-id="gzlEA5070X-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ffffff;
  
    
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      
  
    }
  
      
  [data-id="gzlEA5070X"]:hover::before, [data-id="gzlEA5070X-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#scroll-to-top
            target=_self
          ></a>
        <a
          data-id="gzlEA5070X" dataId="gzlEA5070X" data-state="idle" aria-label
          
          href="#scroll-to-top" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:12px;--pr:12px;--pt:12px;--pb:12px;--pl-mobile:11px;--pr-mobile:11px;--pt-mobile:11px;--pb-mobile:11px;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--hvr-bblr:6px;--hvr-bbrr:6px;--hvr-btlr:6px;--hvr-btrr:6px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#07829F;--bg:#07829F;--c:#07829F;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.6px;--size:24px;--size-tablet:14px;--size-mobile:14px;--lh:140%;--lh-tablet:140%;--lh-mobile:140%"
          class="gzlEA5070X gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
    <span
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.6px;--size:24px;--size-tablet:14px;--size-mobile:14px;--lh:140%;--lh-tablet:140%;--lh-mobile:140%;word-break:break-word;--mr:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="!gp-m-0 gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817554946326888">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M208.49,120.49a12,12,0,0,1-17,0L140,69V216a12,12,0,0,1-24,0V69L64.49,120.49a12,12,0,0,1-17-17l72-72a12,12,0,0,1,17,0l72,72A12,12,0,0,1,208.49,120.49Z" /></svg>
    </span>
  
          
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      <style id="custom-css-gzlEA5070X">
        .gzlEA5070X {

}gp-sticky.gzlEA5070X {
display: none!important;
}

gp-sticky.gzlEA5070X.display-me {
display: block!important;
}
add
.my-sticky-button {
opacity: 0;
visibility: hidden;
transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}
      </style>
    
      <script id="custom-js-gzlEA5070X">
        try {
          //const currentElement = document.getElementsByClassName('gzlEA5070X');

document.addEventListener("DOMContentLoaded", function () {
const target = document.querySelector('gp-sticky.gzlEA5070X');
if (!target) return;

// Ensure it's hidden initially (in case CSS handles the visibility)
target.classList.remove('display-me');

let lastScrollY = window.scrollY;

window.addEventListener('scroll', function () {
const scrollTop = window.scrollY;
const scrollPercent = (scrollTop / (document.body.scrollHeight - window.innerHeight)) * 100;

if (scrollPercent >= 50) {
target.classList.add('display-me');
} else if (scrollTop < lastScrollY && scrollPercent < 50) {
target.classList.remove('display-me');
}

lastScrollY = scrollTop;
});
});

        } catch(err){}
      </script>
    
    </div>
      </div>
    </gp-sticky>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-sticky-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      <style id="custom-css-gZ98phD0Xd">
        gp-sticky.gZ98phD0Xd {
display: none!important;
}

gp-sticky.gZ98phD0Xd.display-me {
display: block!important;
}
add
.my-sticky-button {
opacity: 0;
visibility: hidden;
transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}
      </style>
    
      <script id="custom-js-gZ98phD0Xd">
        try {
          //const currentElement = document.getElementsByClassName('gZ98phD0Xd');

document.addEventListener("DOMContentLoaded", function () {
const target = document.querySelector('gp-sticky.gZ98phD0Xd');
if (!target) return;

// Ensure it's hidden initially (in case CSS handles the visibility)
target.classList.remove('display-me');

let lastScrollY = window.scrollY;

window.addEventListener('scroll', function () {
const scrollTop = window.scrollY;
const scrollPercent = (scrollTop / (document.body.scrollHeight - window.innerHeight)) * 100;

if (scrollPercent >= 50) {
target.classList.add('display-me');
} else if (scrollTop < lastScrollY && scrollPercent < 50) {
target.classList.remove('display-me');
}

lastScrollY = scrollTop;
});
});

        } catch(err){}
      </script>
    
    
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-584531648872186634 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/formilo/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=584531639946707828&sectionId=584531648872186634)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggS4h3XssKv_label","label":"ggS4h3XssKv_label","default":"<p><span style=\"font-size:18px;\">BESUCHEN SIE MEINEN SHOP</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  